<div class="container backgroud">
  <h3 class="tongSoSP">Giỏ hàng</h3>

  <div class="row content" ng-repeat="ghct in lstGHCT">
    <div class="col-md-2">
      <img src="{{ghct.chiTietSP.anh}}" alt="" />
    </div>
    <div class="col-md-6 content-thongtin">
      <h4>{{ghct.chiTietSP.sanPham.ten}}</h4>
      <div class="input-group mb-3 input-mauSac">
        <!-- <select class="form-select" id="inputGroupSelect02">
          <option
            ng-repeat="ms in lstMauSac"
            value="{{ms.id}}"
            ng-selected="ghct.chiTietSP.mauSac.id == ms.id"
            ng-click="layIdMS(ms.id)"
          >
            {{ms.ten}}
          </option>
        </select> -->
        <label style="margin-bottom: 10px; font: size 18px"
          >Màu sắc: {{ghct.chiTietSP.mauSac.ten}}</label
        >
        <label style="font: size 18px">Số lượng: {{ghct.soLuong}}</label>
      </div>
      <div class="icon-content">
        <p class="icon-GiamGia">
          <img src="../images/icon_mocha.webp" alt="" class="icon-content" />
          Giảm 3% tối đa 250.000đ khi thanh toán 100% qua ví Moca trên ứng dụng
          Grab
        </p>
        <p class="icon-GiamGia2">
          <img src="../images/icon-tp-bank.webp" alt="" class="icon-content" />
          Lì xì ngay 30% tối đa 600.000đ khi mở thẻ đồng thương hiệu TPBANK EVO
          (Áp dụng cùng VNPAY/MOCA)
        </p>
      </div>
    </div>
    <div class="col-md-1 cot3">
      <!-- <div class="row cot3-button">
        <div class="col-4 cot-button">
          <button
            type="button"
            class="btn-outline-primary button-content them-giam"
          >
            -
          </button>
        </div>
        <div class="col-4 cot-button">
          <input
            type="number"
            class="button-content input-soluong"
            ng-model="soLuong"
            value="{{ghct.soLuong}}"
          />
        </div>
        <div class="col-4 cot-button">
          <button
            type="button"
            class="btn-outline-primary button-content them-giam"
            ng-click="them1SoLuong(ghct.soLuong)"
          >
            +
          </button>
        </div>
      </div> -->

      <p class="gia2">
        <br />
        {{ghct.donGia}}đ<br />
        <!-- <span class="giamGia">26.499.000đ</span> -->
      </p>
    </div>
    <div class="col-md-3 gia">
      <a href="" ng-click="remove(ghct.id)"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-trash icon-remove"
          viewBox="0 0 16 16"
        >
          <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
          />
          <path
            fill-rule="evenodd"
            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
          />
        </svg>
        Xoá
      </a>
    </div>
  </div>

  <div class="thanhToan">
    <div class="row">
      <div class="col-8">
        <h4>Mã giảm giá</h4>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2 input-magiamgia"
            type="search"
            placeholder="Mã giảm giá"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Áp dụng</button>
        </form>
      </div>
      <div class="col-4">
        <p class="tongtien" style="font-size: 20px">Tổng tiền:</p>
        <p class="sotien" style="font-size: 20px">{{tongTien}}đ</p>
        <p class="tongtien" style="font-size: 20px">Giảm:</p>
        <p class="sotien" style="font-size: 20px">0đ</p>
      </div>
    </div>
    <div class="row btn-thanhtoan">
      <div class="col-8"></div>
      <div class="col-4">
        <button type="button" class="btn btn-danger">
          <a href="#/thanh-toan" style="text-decoration: none; color: white;font-size: 20px;"
            >Thanh toán</a
          >
        </button>
      </div>
    </div>
  </div>
</div>
