<div class="container backgroud">
  <nav ng-include="'../../page/menu-quan-tri-sp.html'"></nav>
  <h1 class="quanTriSP">Quản trị khách hàng</h1>
  <div class="row">
    <div class="col-md-6 form_Trai">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Mã khách hàng:</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="maKH"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Họ:</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="ho"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Tên đệm:</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="tenDem"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Tên:</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="ten"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Ngày sinh:</label
        >
        <input
          type="date"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="ngaySinh"
        />
      </div>
    </div>
    <div class="col-md-6" style="padding: 50px">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Sdt:</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="sdt"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Địa chỉ:</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="diaChi"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Thành phố:</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="thanhPho"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Quốc gia:</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="quocGia"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Mật khẩu:</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="matKhau"
        />
      </div>
    </div>
    <div>
      <div class="them-sua-xoa">
        <button
          type="button"
          class="btn btn-danger btn-them-sua-xoa them-trai"
          ng-click="addNew()"
        >
          thêm
        </button>
        <button
          type="button"
          class="btn btn-danger btn-them-sua-xoa"
          ng-click="update()"
        >
          Sửa
        </button>
      </div>
    </div>
    <div style="padding: 50px">
      <table class="table">
        <tr>
          <td>Mã</td>
          <td>Họ và tên</td>
          <td>Ngày sinh</td>
          <td>Sdt</td>
          <td>Địa chỉ</td>
          <td>Thành phố</td>
          <td>Quốc gia</td>
          <td>Mật khẩu</td>
          <td>Action</td>
        </tr>
        <tr ng-repeat="kh in lstKH">
          <td>{{kh.ma}}</td>
          <td>{{kh.ho}} {{kh.tenDem}} {{kh.ten}}</td>
          <td>{{kh.ngaySinh}}</td>
          <td>{{kh.sdt}}</td>
          <td>{{kh.diaChi}}</td>
          <td>{{kh.thanhPho}}</td>
          <td>{{kh.quocGia}}</td>
          <td>{{kh.matKhau}}</td>
          <td>
            <button
              type="button"
              class="btn btn-light"
              ng-click="detail(kh.id)"
            >
              Detail
            </button>
            <button
              type="button"
              class="btn btn-light"
              ng-click="remove(kh.id)"
            >
              xoá
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="row">
      <div class="col-6 col-md-3" ng-repeat="sp in lstProduct">
        <div class="product">
          <img src="{{sp.img}}" alt="" class="img-pro" />
          <h3 class="name-pro">
            <a href="" ng-click="details(sp.id)">{{sp.ten}}</a>
          </h3>
          <p class="price-pro">{{sp.giaBan}}đ <span>{{sp.giaGoc}}đ</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
