<div class="container backgroud">
  <nav ng-include="'../../page/menu-quan-tri-sp.html'"></nav>
  <h1 class="quanTriSP">Quản trị nhân viên</h1>
  <div class="row">
    <div class="col-md-6 form_Trai">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Mã nhân viên:</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="maNV"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Chức vụ:</label
        >
        <select
          class="form-select"
          aria-label="Default select example"
          ng-model="chucVu"
        >
          <option
            ng-repeat="cv in lstCV"
            value="{{cv.id}}"
          >
            {{cv.ten}}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Cửa hàng:</label
        >
        <select
          class="form-select"
          aria-label="Default select example"
          ng-model="cuaHang"
        >
          <option
            ng-repeat="ch in lstCH"
            value="{{ch.id}}"
          >
            {{ch.ten}}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Ngày sinh:</label
        >
        <input
          type="date"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="ngaySinh"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Sdt:</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="sdt"
        />
      </div>
      <div class="mb-3">
        <div>
          <label
            for="exampleFormControlInput1"
            class="form-label form-label2"
            style="margin-right: 10px"
            >Giới tính:</label
          >
          <input
            type="radio"
            class=""
            ng-model="gioiTinh"
            value="Nam"
            name="gioiTinh"
          />
          <label class="form-label form-label2" style="margin-right: 20px"
            >Nam</label
          >
          <input
            type="radio"
            class=""
            ng-model="gioiTinh"
            value="Nữ"
            name="gioiTinh"
          />
          <label class="form-label form-label2">Nữ</label>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="padding: 50px">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Họ:</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="ho"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Tên đệm:</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="tenDem"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Tên:</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="ten"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Địa chỉ:</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="diaChi"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label form-label2"
          >Mật khẩu:</label
        >
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          ng-model="matKhau"
        />
      </div>
      <div class="mb-3">
        <div>
          <label
            for="exampleFormControlInput1"
            class="form-label form-label2"
            style="margin-right: 10px"
            >Tình trạng:</label
          >
          <input
            type="radio"
            class=""
            ng-model="tinhTrang"
            value="0"
            name="tinhTrang"
          />
          <label class="form-label form-label2" style="margin-right: 20px"
            >Đang làm</label
          >
          <input
            type="radio"
            class=""
            ng-model="tinhTrang"
            value="1"
            name="tinhTrang"
          />
          <label class="form-label form-label2">Đã nghỉ</label>
        </div>
      </div>
    </div>
    <div>
      <div class="them-sua-xoa">
        <button
          type="button"
          class="btn btn-danger btn-them-sua-xoa them-trai"
          ng-click="addNew()"
        >
          thêm
        </button>
        <button
          type="button"
          class="btn btn-danger btn-them-sua-xoa"
          ng-click="update()"
        >
          Sửa
        </button>
      </div>
    </div>
    <div style="padding: 50px">
      <table class="table">
        <tr>
          <td>Mã</td>
          <td>Tên nhân viên</td>
          <td>Chức vụ</td>
          <td>Cửa hàng</td>
          <td>Giới tính</td>
          <td>Ngày sinh</td>
          <td>Sdt</td>
          <td>Địa chỉ</td>
          <td>Mật khẩu</td>
          <td>Trạng thái</td>
          <td>Action</td>
        </tr>
        <tr ng-repeat="nv in lstNV">
          <td>{{nv.ma}}</td>
          <td>{{nv.ho}} {{nv.tenDem}} {{nv.ten}}</td>
          <td>{{nv.chucVu.ten}}</td>
          <td>{{nv.cuaHang.ten}}</td>
          <td>{{nv.gioiTinh}}</td>
          <td>{{nv.ngaySinh}}</td>
          <td>{{nv.sdt}}</td>
          <td>{{nv.diaChi}}</td>
          <td>{{nv.matKhau}}</td>
          <td>{{nv.trangThai}}</td>
          <td>
            <button
              type="button"
              class="btn btn-light"
              ng-click="detail(nv.id)"
            >
              Detail
            </button>
            <button
              type="button"
              class="btn btn-light"
              ng-click="remove(nv.id)"
            >
              xoá
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class="row">
      <div class="col-6 col-md-3" ng-repeat="sp in lstProduct">
        <div class="product">
          <img src="{{sp.img}}" alt="" class="img-pro" />
          <h3 class="name-pro">
            <a href="" ng-click="details(sp.id)">{{sp.ten}}</a>
          </h3>
          <p class="price-pro">{{sp.giaBan}}đ <span>{{sp.giaGoc}}đ</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
