body {
  /* background: beige; */
}
.backgroud {
  background: beige;
}
.header1 {
  /* margin-top: -10px; */
  position: relative;
  background: red;
  height: 70px;
}
.header1 img {
  width: 200px;
}
.backgroud-header {
  /* margin-bottom: -10px; */
  background-color: red;
  color: white;
  height: 70px;
}
.backgroud-header ul li a {
  font-size: 18px;
}
.btn {
  color: black;
}
.banner5 {
  /* margin-bottom: 20px; */
  padding: 0px;
}
.cate-pro {
  height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 60px;
  color: red;
  font-size: 25px;
  /* margin-bottom: -20px; */
  /* border-bottom: 1px solid #b4b3b3; */
}
.product {
  width: 100%;
  border: 1px solid #cdcdcd;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
  /* position: relative; */
}
.img-pro {
  width: 80%;
  height: 190px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.name-pro a {
  color: #2d3246;
  text-decoration: none;
}
.name-pro a:hover {
  color: red;
}
.price-pro {
  margin: 10px 0;
  font-weight: bold;
  /* color: #2d3246; */
  color: red;
}
.price-pro span {
  font-weight: normal;
  text-decoration: line-through;
  color: palevioletred;
}
.footer {
  clear: both;
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  margin-bottom: 10px;
}
.footer-content {
  text-align: left;
}
.footer-content li {
  list-style: none;
  text-align: left;
}
.footer-content li a {
  text-decoration: none;
  text-align: left;
  font-size: 14px;
}
.aaa {
  text-align: left;
}

.aaa p li {
  text-align: left;
}
.aaa p li a {
  text-align: left;
}
.footer-fontweight {
  font-weight: bold;
}
.footer-fontweight1 {
  font-weight: bold;
  font-size: 24px;
  color: red;
}
.item-img {
  margin-top: 10px;
}
.container {
  padding: 0px;
}
